<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email List</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

    <div id="app">
        <ul v-if="myArray.length >= 10">
            <li v-for="email in myArray">
                {{email}}
            </li>
        </ul>
        <script type="text/javascript" src="./script.js"></script>
    </div>
    
</body>
</html>